.modal-button {
  display: none;
}

.modal-button__item {
  margin : 0 5px;
  padding: 10px 30px;
  border: 1px solid rgba(68, 68, 68, 0.3);
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;

  &:hover {
    border-color: rgba(68, 68, 68, 0.7);
  }

  &:active {
    border-color: $green;
  }
}
