.main-nav__item {
  display: flex;
  padding: 30px 70px;
  z-index: 1;
  text-align: center;
  box-shadow: 0 1px 0 $box-shadow, inset 0 1px 0 $box-shadow;

  @media (min-width: $tablet-width) {
    padding: 0;
    box-shadow: none;
  }
}

.main-nav__link {
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  color: $black;
}
