.main-info__list {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
}

.main-info__about {
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  display: block;
}
