.main-prod__order {
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: c;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.main-prod__price {
  display: block;
  margin: 30px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    margin-right: 117px;
  }
}
