.contacts__heading {
  padding: 30px;
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
  display: block;
  margin-bottom: 39px;
  margin-top: 39px;
  color: $black;
  text-align: center;
  text-decoration: none;
}
