.reviews__title {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 20px 10px;
    margin: 10px 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
