.main-link__link {
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  color: $black;
  padding: 28px 20px 28px 76px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
