.product-wrapp__list-cell {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid $box-shadow;
}

.product-wrapp__list-cell__item {
  min-width: 100px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}
