.contacts__button {
  width: 260px;
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;
  margin-top: 39px;
  color: $black;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: button;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-right: 60px;
  }
}
