.main-nav__links {
  padding: 0;
  display: none;
  grid-area: links;
  list-style: none;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
