.main-info__list {
  max-width: 800px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.main-info__about {
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  display: block;
}
