.contacts__item {
  display: flex;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.contacts-container {
  margin: 0 10px 40px 20px;
  display: block;
  max-width: 230px;
  min-width: 50px;
}
