.contacts {
  position: relative;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 57px;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }
}

.contacts-wrapp {
  position: relative;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    width: 100%;
    background: url("../img/bg-zigzag-line.svg") repeat no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: -80px;
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      width: 1150px;
      height: 23px;

    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template:
      "heading map" auto
      "list map" 269px
      "button map" 50px / 1fr 1fr;
  }
}
