.main-info__list {
  padding: 0 30px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-gap: 51px 44px;
    grid-template-columns: 300px 300px;
    margin-left:70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.main-info__about {
  margin-top: 10px;
  font-size: 17px;
  line-height: 28px;
  display: block;
}
