.main-prod__order {
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: c;
  }
}

.main-prod__price {
  display: block;
  margin: 30px;
  font-size: 17px;
  line-height: 24px;
}
