.product-wrapp {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template:
      "a" 265px
      "b" auto
      "c" auto;

    @media (min-width: $tablet-width) {
      grid-template:
        "a b" 38vw
        "c b" auto / 1fr 1fr;
    }
  }
}
