.menu-top__product {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1150px;
  position: relative;

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 6px;
    width: 100%;
    background: url("../img/bg-zigzag-line.svg") repeat no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      height: 17;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      bottom: -30px;
    }
  }
}

.menu-product__heading {
  margin-top: 30px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }
}

.menu-top__description {
  color: $green;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 17px;
    line-height: 17px;
    max-width: 100px;
    text-align: center;
  }
}

.menu-product__info {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.menu-prod__list {
  padding: 0;
  list-style: none;
}

.menu-prod__button {
  display: block;
  margin: 0 auto;
  width: 260px;
}
