.menu-product__order {
  text-align: center;
  margin: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: c;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
  }
}

.menu-product__price {
  display: block;
  margin: 30px auto;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    min-width: 155px;
    margin-right: 117px;
  }
}
