.menu_product__description-container {
  @media (min-width: $tablet-width) {
    grid-area: a;
    flex-basis: 40%;
    padding: 0 20px;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 320px;
    margin-left: auto;
  }
}

.menu-product__info {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}
