.main-nav__search {
  display: flex;
  align-items: center;

  &:hover .main-nav__icon-search {
    opacity: 1;
    fill: $green;
  }

  @media (min-width: $tablet-width) {
    border-left: 1px solid $border;
    border-right: 1px solid $border;
  }

  @media (min-width: $desktop-width) {
    margin-left: 45px;
  }
}
