.reviews__write-container {
  margin-left: 70px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: absolute;
    top: 41px;
    right: -40px;
  }

  @media (min-width: $desktop-width) {
    right: -70px;
  }
}

.reviews__write {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 0;
  margin-top: 38px;
  display: block;
  color: $black;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 175px;
  }
}
