.main-nav__basked {
  display: flex;
  align-items: center;

  &:hover .main-nav__icon-basked {
    opacity: 1;
    fill: $green;
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}
