.menu-product__picture {
  @media (min-width: $tablet-width) {
    grid-area: b;
  }
}

.main-product__image {
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-top: 20px;
    max-width: 525px;
  }
}
