.reviews__author-link {
  display: block;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: normal;
  color: $smallfont;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 50px;
}
