.contacts__list {
  padding: 0 20px;
  list-style: none;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $smallfont;
  grid-area: list;
  display: grid;
  grid-template:
    "email"  auto
    "address"  auto / 1fr 1fr;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 25px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }
}
