.menu-top__heading {
  max-width: 290px;
  padding: 115px 10px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    max-width: 640px;
    padding: 160px 0;
    padding-bottom: 350px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 58px;
    line-height: 57px;
  }
}
