.menu-product__top-heading {
  margin: 0 auto;
  max-width: 950px;
  grid-area: d;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    padding: 0 40px;
    position: absolute;
    top: 20px;
    left: 203px;
    z-index: 1;
  }
}
