.product-wrapp {
  margin: 0 auto;
  max-width: 1050px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template:
      "a b" auto
      "c b" 40px / 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    position: relative;
    grid-template:
      "d b" 160px
      "a b" 360px
      "c b" auto / 1fr 1fr;
  }
}
