.main-nav__list {
  margin: 0;
  padding: 0;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__list--show {
  display: block;
}
