.product-wrapp__description-container {
  @media (min-width: $tablet-width) {
    grid-area: a;
    flex-basis: 40%;
    padding: 0 10px;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
    margin-right: 50px;
    margin-left: auto;
  }
}

.product-wrapp__info {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 30px;
  font-weight: normal;
}
