.dept-container {
  margin: 0 auto;
  max-width: 1150px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
}
