.main-nav__basked {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }
}
