.reviews__title {
  padding: 30px;
  padding-bottom: 0;
}

.reviews__write {
  width: 260px;
  padding: 16px 0;
  margin: 0 auto;
  margin-top: 38px;
  display: block;
  color: $black;
  text-align: center;
  text-decoration: none;
}
