.main-nav__search {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 10px 35px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
  }
}

.main-nav__icon-search {
  left: 30px;
  position: absolute;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    left: 0;
    position: relative;
  }
}
