.main-nav__search {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $border;
    border-right: 1px solid $border;

    &:hover {
      opacity: 1;
      fill: $green;
    }
  }
}

.main-nav__icon-search {
  left: 30px;
  position: absolute;
  opacity: 0.2;
  fill: $black;

  @media (min-width: $tablet-width) {
    left: 0;
    margin: 20px 30px;
    position: relative;
  }
}
