.dept-container {
  margin: 0 auto;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -15px;
      height: 24px;
      width: 100%;
      background: url("../img/bg-zigzag-fill.svg") repeat no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 50px;
      bottom: -34px;
    }
  }
}
