.contacts-heading__container {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    align-items: center;
  }
}

.contacts-svg {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}
