.contacts {
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 57px;
  max-width: 1150px;
}

.contacts-wrapp {
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template:
      "heading map" auto
      "list map" 269px
      "button map" 50px / 1fr 1fr;
  }
}
