.footer-page__list {
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-page__item {
  @media (min-width: $tablet-width) {
    margin: 0 40px;
  }
}
