.main__video {
  max-width: 1050px;
  margin: 0 30px;
  text-align: start;
  border: 1px solid $border;


  @media (min-width: $tablet-width) {
    margin: 15px 50px 100px 50px;
    display: grid;
    grid-template:
      "video" auto
      "v-head" auto
      "descr" auto / 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin: 15px auto 100px auto;
    grid-template:
      "video v-head" 170px
      "video descr" 284px / 2fr 1fr;
  }
}
