.catalog-header {
  padding: 75px 30px;
  text-align: center;
  background-color: $bg-footer;


  @media (min-width: $tablet-width) {
    margin-top: -80px;
    padding: 95px 30px;
    text-align: center;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: center bottom;
    background-repeat: repeat-x;
  }

  @media (min-width: $desktop-width) {
    margin-top: -90px;
  }
}

.catalog-header__heading {
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
