.catalog-header {
  max-width: 1150px;
  padding: 75px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: $bg-footer;


  @media (min-width: $tablet-width) {
    margin-top: -80px;
    padding: 95px 0;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 24px;
      width: 100%;
      background: url("../img/bg-zigzag-fill.svg") repeat no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -90px;

    &::after {
      height: 34px;
    }
  }
}

.catalog-header__heading {
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
