.main-catalog__wrapp {
  padding: 40px 30px;
  margin: 0 auto;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    padding: 40px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 26px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.main-catalog__item {
  margin-top: 70px;
  border: 1px solid $border-footer;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-top: 70px;
  }


  &:hover .product__figcaption {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product__figcaption {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}
