.product__figcaption {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
  }
}

.product__name {
  margin-top: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.product__description {
  font-family: "Open-sans", "Arials", sans-serif;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 18px;
}

.product__border {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  margin-top: auto;
  background-color: $border-footer;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
