.main-catalog__wrapp {
  padding: 40px 30px;
  margin: 0 auto;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    padding: 40px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 26px;
    display: flex;
    justify-content: space-around;
  }
}

.main-catalog__item {
  margin-top: 70px;
  border: 1px solid $border-footer;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}
