.main-catalog__figcaption {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
    padding: 0 35px;
  }
}

.main-catalog__heading-wrapp {
  height: 123px;
}
