.video__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    justify-content: start;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 61px;

    align-items: flex-end;
    grid-area: v-head;
  }
}

.video__heading-svg {
  margin: 25px;
  margin-bottom: 0;
  fill: $green;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 16px;
    left: 37px;
  }
}
