.main-catalog__figure {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.product__figcaption {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }
}
