.input-name__legend {
  text-transform: uppercase;
  padding: 0 16px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
  position: absolute;
  top: -10px;
  left: 0;

  @media (min-width: $tablet-width) {
    left: -98px;
    top: 48px;
  }

  @media (min-width: $desktop-width) {
    left: -118px;
  }
}
