.form-checkbox__container {
  @media (min-width: $tablet-width) {
    padding: 27px 0;
    max-width: 470px;
    margin: 10px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    max-width: 760px;
    grid-gap: 0 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
