.form-description {
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 20px;


  @media (min-width: $tablet-width) {
    padding: 50px 30px;
    max-width: 900px;
    padding-bottom: 21px;
    margin: 50px auto 20px auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 760px;
  }
}

.form-description__details {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
