.form-checkbox {
  border: none;
  padding: 0;
  margin: 0 auto;
  border-top: 1px solid $green;
  position: relative;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: $bg-footer;
  }
}

.form-checkbox__legend {
  text-transform: uppercase;
  padding: 0 16px 0 20px;
  background: $black;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
  position: absolute;
  top: -10px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-color: $bg-footer;
    left: -90px;
    top: 30px;
  }
}
