.textarea-field {
  min-width: 260px;
  min-height: 142px;
  margin-top: 20px;
  border: 2px solid $black;
  resize: none;
}

.textarea-field::placeholder {
  padding: 17px 40px 17px 17px;
  color: $black;
  opacity: 0.3;
}
