.form-radio {
  border: none;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid $green;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    border: none;
  }
}

.form-radio__legend {

  text-transform: uppercase;
  padding: 0 16px 0 20px;
  background: $black;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
  position: absolute;
  top: -10px;
  left: 0;

  @media (min-width: $tablet-width) {
    left: -90px;
    top: 30px;
  }
}
