.form-name {
  margin: 24px auto;
  padding: 0 30px;
  border: none;
}

.form-name__container {
  padding: 20px 0;
  position: relative;
  border: 0;
  border-top: 1px solid $green;

  @media (min-width: $tablet-width) {
    padding: 15px 0;
    min-width: 500px;

    max-width: 500px;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 690px;
  }
}
