.input-label {
  font-size: 17px;
  line-height: 18px;
}

.input-name__label {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

  }
}

.input-name {
  margin: 15px 0;
  border: none;
  box-shadow: inset 0 -2px 0 $black;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
