.form-details__wrapp {
  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    background-color: $bg-footer;
    position: relative;
  }
}

.form-details__continer {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 500px;
    padding: 19px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
