.form-details__wrapp-legend {
  text-transform: uppercase;
  padding: 0 16px 0 0;
  background: $black;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
  position: absolute;
  top: -8px;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: -90px;
    background-color: $bg-footer;
  }

  @media (min-width: $desktop-width) {
    top: 15px;
    left: -113px;
  }
}

.form-details__input-details {
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  margin: 30px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $green;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: $bg-footer;
  }
}
