.input-radio + .label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid $black;
  border-radius: 50%;
}

.input-radio:checked + .label-radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 18px;
  height: 18px;
  background-color: $green;
  border-radius: 50%;
}
