.form-buttom__container {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__description {
  order: 1;
  display: block;
}
