.form-checkbox__legend {
  text-transform: uppercase;
  padding: 0 16px 0 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
  position: absolute;
  top: -30px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-color: $bg-footer;
    margin: 0 auto;
    left: -130px;
    top: 63px;
  }

  @media (min-width: $desktop-width) {
    left: -95px;
  }
}
