.form-radio {
  border: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid $green;

  @media (min-width: $tablet-width) {
    max-width: 440px;
    border: none;
  }
}

.form-radio__legend {
  padding: 0 16px 0 0;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: -20%;
    top: 20px;
  }
}
