.label-radio {
  font-size: 17px;
  line-height: 18px;
  padding: 10px 0 15px 30px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 18px;
  }
}
