.list-nav {
  grid-area: navig;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $border;
    border-right: none;
  }
}
