//Анимация кнопки
.burger {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
}

.burger.burger--active {
  transform: rotate(45deg);
}

.burger--line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $black;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.burger .align--top {
  stroke-dasharray: 40 139;
}

.burger .align--bottom {
  stroke-dasharray: 40 180;
}

.burger.burger--active .align--top {
  stroke-dashoffset: -98px;
}

.burger.burger--active .align--bottom {
  stroke-dashoffset: -138px;
}
