.page-header {
  margin: 0 auto;
  max-width: 1150px;
  display: grid;
  position: relative;
  grid-template:
    "logo" 80px
    "navig" auto
    "actions" auto / 1fr;

  @media (min-width: $tablet-width) {
    grid-template:
      "logo actions" auto
      "navig info" 60px / 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template:
      "navig logo actions" 90px
      "links logo info" 60px / 1fr 200px 1fr;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $border;
    border-right: none;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
  }
}
