.logo-picture {
  display: flex;
  justify-content: center;
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    .logo {
      min-width: 113px;
      min-height: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    .logo {
      min-width: 149px;
      min-height: 72px;
      margin: 7px 0;
    }
  }
}
