.logo-picture {
  grid-area: logo;
  display: flex;
  justify-content: center;
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    .logo {
      margin-left: 30px;
      min-width: 113px;
      min-height: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
    justify-content: center;

    .logo {
      min-width: 170px;
      min-height: 72px;
      margin: 0;
    }
  }
}
