.footer-page__list {
  max-width: 150px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

.footer-page__item {
  @media (min-width: $tablet-width) {
    margin: 0 40px;
  }
}
