.footer-logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer-logo__link {
  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}
