.form {
  padding: 0 30px;
}

.fieldset {
  display: block;
  margin: 24px 0 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #62d1ba;
}

.fieldset--label {
  margin-top: calc(24px + 0.5rem);
  position: relative;
  display: flex;
  flex-direction: column;
}

.fieldset--label span {
  position: absolute;
  top: -0.5rem;
}

.fieldset__legend {
  text-transform: uppercase;
  padding: 0 16px 0 0;
  background: $black;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  background-color: $white;
}

.fieldset__field {
  display: flex;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.input-name {
  padding: 16px 0;
  border: 0;
  box-shadow: inset 0 -2px 0 $black;
  outline: none;
}

.input-name:hover,
.input-name:focus {
  box-shadow: inset 0 -2px 0 $green;
}

.input-details {
  margin: 30px 0;
}
